@use "@colors";

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  padding: 0 2em;
  position: relative;

  .logo {
    width: 173px;
    border: 1px solid red;
  }
  .container {
    margin-top: 4.6em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.88em;

    .leftContainer {
      margin-top: 4em;
    }

    .rightContainer {
      background: colors.$primary-color;
      padding-inline: 3.13em;
      position: absolute;
      right: 0;
      height: 100vh;
      top: 0;
      width: 48%;

      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 2.5em;
        font-family: "Avenir Next LT Pro Bold", sans-serif;
      }

      p {
        margin-top: 0.31em;
      }

      .formContainer {
        margin-top: 1.8em; //60px
      }
    }
  }
}
