.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.content {
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.title {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: #343a40;
}

.message {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #6c757d;
}

.dashboardLink {
  background: #39cdcc;
  color: white;
  text-transform: uppercase;
  padding: 1em 2em;
  border-radius: 0.5em;
  text-align: center;
  font-weight: 500;
  transition: background 0.3s;
}
