@use "@/scss/colors";

.dashboard {
  h1 {
    color: colors.$primary-color;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2.5em;
  }

  .metricCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.56em;
  }

  .quickLinks {
    display: flex;
    gap: 1.5em;
    margin-top: 2.5em;

    .linkCard {
      background: white;
      color: colors.$primary-color;
      padding: 1em 2em;
      border-radius: 0.5em;
      text-align: center;
      font-weight: 500;
      transition: background 0.3s;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:hover {
        background: #39cdcc;
        color: white;
      }
    }
  }
}
