@use "@/scss/colors";

.users {
  display: grid;
  grid-template-rows: 50px 1fr;
  overflow: hidden;

  h1 {
    color: colors.$primary-color;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 2.5em;
  }

  .datatableContainer {
    width: 100%;
    overflow: hidden;
  }
}
