@use "colors";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: colors.$white-color;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}
