.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 283px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;

  .content {
    display: contents;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: white;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  .mainContent {
    grid-area: main;
    overflow-y: auto;
  }
}
