.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 283px 1fr;
  grid-template-rows: auto 1fr;
  height: 100dvh;
  overflow-x: hidden;

  .content {
    display: contents;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: white;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  .mainContent {
    grid-area: main;
    overflow-y: scroll;
    padding-block: 2em;
    padding-inline: 3.75em 1.88em;
    width: 100%;

    scrollbar-width: none;

    @media (max-width: 900px) {
      padding-inline: 1.88em;
    }
  }
}

@media (max-width: 900px) {
  .layout {
    grid-template-areas:
      "header header"
      "main main";
  }

  .showSidebar {
    position: absolute;
    height: 80vh;
    top: 100px;
    z-index: 1000;
  }

  .hideSidebar {
    display: none;
  }
}
